* {
	padding: 0;
	margin: 0;
	outline: none;
	color: #2c3e50;
	box-sizing: border-box;
}

body{
	display: flex;
	background: red;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
	background-color: red;
	overflow: hidden;
	padding: 10px;
	text-align: left;
	color: white;
	font-size: 22px;
	font-weight: bold;
}
		
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1{
	color: white;
}

nav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	cursor: poniter;
}

nav a:hover {
	color: #2c3e50;
}

li {
	font-size: 18px
}

footer {
	background-color: #f2f2f2;
	color: #95a5a6;
	padding: 10px;
	text-align: right;
}

main {
	align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
	flex: 1;
}

h2 {
	display: block;
    color: #2c3e50;
    font-size: 40px;
}

strong {
	font-size: 20px;
	
}

.obs, ol{
	font-size: 18px;
	max-width: 800px;
}

ol{
	max-width: calc(800px - 25px);
}

form{
	display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    width: 100%;
    max-width: 500px;
}

input{
	font-size: 16px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin-top: 5px;
}

input[type="submit"]{
	background-color: #3498db;
	color: white;
	border: none;
	cursor:pointer;
	font-weight: bold;
    text-transform: uppercase;
    padding: 10px 5px
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 15px auto;
  border-radius:5px;
}

th {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: 1px solid #2c3e50;
}

td {
  padding: 10px;
  border: 1px solid #2c3e50;
}